.navbarContainer {
    position: absolute;
    left: 6%;
    width: 80%;
    z-index: -1;
    margin: auto;
  padding: 40px 0px 0px 0px;
  font-family: Tajawal;
}
.options {
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid lightgray;
  top: 44px;
  width: 250px;
  padding: 20px;
}
.options p:first-child {
  border-bottom: 1px solid lightgray;
}
